
/* Modal window */
.modal-window {
	z-index: 9;
	position: fixed;
	background-color: black;
	top: 0;
	width: 992px;
	height: 700px;

	left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}